
/**xxxxxxxxxxxxxxx  estilos en movil xxxxxxxxxxxxxxxxxxxx*/


.imgBorrego {
    width: 200px;
    left: -8%;
    top: 78%;
    transform: rotate(-15deg) scale(1.5) translateX(-3%);
  }
  .imgBorrego img {
    object-fit: cover;
  }

  .imgLap {
    position: absolute;
      top: 3%;
      right: -30%;
      width: 250px;
    transform: rotateY(200deg) rotate(-20deg) scale(1.5) translate(5%);
  }
  .imgLap img {
    object-fit: cover;
  }

  .imgGraf {
    position: absolute;
    bottom: -20%;
    width: 250px;
  }


  .imgCorazon  {
   display:none
  }
  .imgCorazon img {
    object-fit: cover;
  }
  
  .imgMenu  {
    width: 20% ;
  }
  .imgMenu img {
    object-fit: cover;
  }

  .imgFacebook{
    width: 50%;
    
  }
  .imgFacebook img {
    object-fit: cover;
  }

  .imgInstagram{
    width: 50%;
  }
  .imgInstagram img {
    object-fit: cover;
  }

  .imgWhatsApp{
    width: 50%;
  }
  .imgWhatsApp img {
    object-fit: cover;
  }

  

  /* imagenes del componente nav movil*/


  .imgNube{
    width: 60%;
    background-color: none;
    position: absolute;
    top:-10%;
    left:-20%; 
    transform:  rotateY(900deg) rotate(5deg);

  }
  .imgNube img {
    object-fit: cover;
  
  }


  .imgBala{
    width: 80%;
    position: absolute;
    right: -30%;
    bottom: 20%;
    transform: rotate(-35deg) 
  }
  .imgBala img {
    object-fit: cover;
  }






 /* imagenes componente portafolio movil */

  .portafolio{

    display: none;
  
  
   
  
  }
 
  
.portafoliomovil{
  display: flex;
  width: 100%;
 height: 100%;

}

.portafoliomovil img {
  object-fit: none;
}



  /* Estilos Footer */
  .imglogo{
    width: 100%;
   
  
  }
  .imglogo img {
    object-fit: cover;
  }











/**xxxxxxxxxxxxxxx  estilos en web xxxxxxxxxxxxxxxxxxxx*/

  @media only screen and (min-width: 768px) {
    
 /* imagenes del componente portafolio web*/

.portafolio{
  width: 100%;
 height: 100%;
 display: flex;
 

}
.portafolio img {
  object-fit: cover;
}



.portafoliomovil{

 display: none;
 

}

.imgGraf {
  position: absolute;
  bottom: -70%;
  width: 600px;
}
    
    .imgBorrego {
      position: absolute;
      left: -12%;
      top: 15%;
      width: 500px ;
      transform: rotate(25deg);
      
    }
    .imgBorrego img {
      object-fit: cover;
      
      
    }

    .imgLap {
      position: absolute;
      top: 20%;
      right: -10%;
      width: 500px ;
      transform: rotateY(200deg) rotate(-25deg)
    }
    .imgLap img {
      object-fit: cover;
    }
    
  
  
    
  
    .imgCorazon  {
      display:flex;
      position: absolute;
      right: -10%;
      bottom: -10%;
      width: 400px ;
      transform: rotate(-40deg)
    }
    .imgCorazon img {
      object-fit: cover;
      
    }
     
    
    
    .imgMenu  {
      width: 20% ;
    }
    .imgMenu img {
      object-fit: cover;
    }
  
  
    
    .imgILogoTrebol{
      width: 6% ;
      
    }
    .imgILogoTrebol img {
      object-fit: cover;
    }

    .imgILogoTrebolNav{
      width: 10.7% ;
      
    }
    .imgILogoTrebolNav img {
      object-fit: cover;
    }
  
  
    .imgFacebook{
      width: 50%;
 
    }
    .imgFacebook img{
      object-fit: cover;
    }
  
  
    .imgInstagram{
      width: 50%;
    }
    .imgInstagram img {
      object-fit: cover;
    }
  
    
    .imgWhatsApp{
      width: 50%;
    }
    .imgWhatsApp img {
      object-fit: cover;
    }
    

 /* imagenes del componente nav web*/
  
 .imgNube{
  width: 40%;
  height: 100%;
  position: absolute;
  top:-10%;
  left:-7%; 
  transform:  rotateY(900deg) rotate(10deg);
}
.imgNube img {
  object-fit: cover;
}


.imgBala{
  width: 55%;
  position:absolute;
  bottom: -90%;
  right: -15%;
  transform: rotate(-45deg) ;
}
.imgBala img {
  object-fit: cover;
}

 /* imagenes del componente footer web*/

.imglogo{
  width: 70%;
 

}
.imglogo img {
  object-fit: cover;
}

.imgfoco{
  width: 15%;
  bottom:8%;
  right: -7%;
transform: rotate(12deg);

}
.imgfoco img {
  object-fit: cover;
}


.imgMesa{
  width: 17%;
  right: 2%;
  transform: scale(1em) ;

 

}
.imgMesa img {
  object-fit: cover;
}



.imgtrebol2{
  width: 15%;
  position: absolute;
  right: -4%;
  bottom: 2%;
  transform: rotate(20deg);
 

 

}
.imgtrebol2 img {
  object-fit: cover;
}
  }





  @media only screen and (min-width: 1400px) {
    .imgILogoTrebol{
      width: 4% ;
      
    }
  }

