
/**xxxxxxxxxxxxxxx  estilos en movil xxxxxxxxxxxxxxxxxxxx*/


.imgBorrego {
    width: 100%;
    left: 10px;
    transform: rotate(-15deg) scale(1.5) translateX(-3%);
  }
  .imgBorrego img {
    object-fit: cover;
  }

  .imgLap {
    position: absolute;
      top: 22%;
      right: -10%;
      width: 40% ;
    transform: rotateY(200deg) rotate(-20deg) scale(1.5) translate(5%);
  }
  .imgLap img {
    object-fit: cover;
  }

  .imgCorazon  {
    width: 90% ;
    transform: rotate(-20deg)
  }
  .imgCorazon img {
    object-fit: cover;
  }
  
  .imgMenu  {
    width: 20% ;
  }
  .imgMenu img {
    object-fit: cover;
  }

  .imgFacebook{
    width: 50%;
  }
  .imgFacebook img {
    object-fit: cover;
  }

  .imgInstagram{
    width: 50%;
  }
  .imgInstagram img {
    object-fit: cover;
  }

  .imgWhatsApp{
    width: 50%;
  }
  .imgWhatsApp img {
    object-fit: cover;
  }

  .imgGrafiiti{
      width: 70%;
      height: 10%;
      position: absolute;
      bottom: 25%;
    
  }
  .imgGrafiiti img {
    object-fit: cover;

  }

  /* imagenes del componente nav movil*/


  .imgNube{
    width: 60%;
    background-color: none;
    position: absolute;
    top:-10%;
    left:-20%; 
    transform:  rotateY(900deg) rotate(5deg);

  }
  .imgNube img {
    object-fit: cover;
  
  }


  .imgBala{
    width: 80%;
    position: absolute;
    right: -30%;
    bottom: 20%;
    transform: rotate(-35deg) 
  }
  .imgBala img {
    object-fit: cover;
  }




  /* Estilos Footer */
  .imglogo{
    width: 100%;
   
  
  }
  .imglogo img {
    object-fit: cover;
  }

/**xxxxxxxxxxxxxxx  estilos en web xxxxxxxxxxxxxxxxxxxx*/

  @media only screen and (min-width: 768px) {
    
    
    .imgBorrego {
      width: 100%;
      transform: rotate(25deg);
      height: 100%;
      position: absolute;
      left: -25%;
      top: -10%;
      
    }
    .imgBorrego img {
      object-fit: cover;
      
      
    }
    .imgLap {
      position: absolute;
      top: -15%;
      right: -5%;
      width: 25% ;
      transform: rotateY(200deg) rotate(-25deg)
    }
    .imgLap img {
      object-fit: cover;
    }
    
  
  
    
  
    .imgCorazon  {
      position: absolute;
      right: -10%;
      width: 100% ;
      transform: rotate(-40deg)
    }
    .imgCorazon img {
      object-fit: cover;
      
    }
     
    
    
    .imgMenu  {
      width: 20% ;
    }
    .imgMenu img {
      object-fit: cover;
    }
  
  
    
    .imgILogoTrebol{
      width: 8% ;
      
    }
    .imgILogoTrebol img {
      object-fit: cover;
    }

    .imgILogoTrebolNav{
      width: 10.7% ;
      
    }
    .imgILogoTrebolNav img {
      object-fit: cover;
    }
  
  
    .imgFacebook{
      width: 50%;
    }
    .imgFacebook img{
      object-fit: cover;
    }
  
  
    .imgInstagram{
      width: 50%;
    }
    .imgInstagram img {
      object-fit: cover;
    }
  
    
    .imgWhatsApp{
      width: 50%;
    }
    .imgWhatsApp img {
      object-fit: cover;
    }
  
  
    .imgGrafiiti{
      width: 40%;
      height: 25%;
      position: absolute;
      bottom: 15%;
      right: 12%;
   
    
    }
    .imgGrafiiti img{
      object-fit: cover;
    }
  


 /* imagenes del componente nav web*/
  
 .imgNube{
  width: 40%;
  height: 100%;
  position: absolute;
  top:-10%;
  left:-7%; 
  transform:  rotateY(900deg) rotate(10deg);
}
.imgNube img {
  object-fit: cover;
}


.imgBala{
  width: 55%;
  position:absolute;
  bottom: -90%;
  right: -15%;
  transform: rotate(-45deg) ;
}
.imgBala img {
  object-fit: cover;
}

 /* imagenes del componente footer web*/

.imglogo{
  width: 70%;
 

}
.imglogo img {
  object-fit: cover;
}

.imgfoco{
  width: 15%;
  position: absolute;
  top:63%;
  right: -7%;
transform: rotate(12deg);

}
.imgfoco img {
  object-fit: cover;
}


.imgMesa{
  width: 17%;
  position: absolute;
  right: 2%;
  transform: scale(1em) ;

 

}
.imgMesa img {
  object-fit: cover;
}



.imgtrebol2{
  width: 15%;
  position: absolute;
  right: -4%;
  bottom: 5.5%;
  transform: rotate(20deg);
 

 

}
.imgtrebol2 img {
  object-fit: cover;
}
  }

  @media only screen and (min-width: 1400px) {
    .imgGrafiiti{
      width: 25%;
      height: auto;
      position: absolute;
      bottom: 25%;
      right: 25%;
  }
  }